{% extends "base.html" %}


{% block content %}
    <div class="form-recipe">
        <form>
            <h1>Welcome, {{ name }}!</h1>
                <a class="w-100 btn btn-lg btn" href="{{ url_for('routes.logout') }}">Settings</a>
                <a class="w-100 btn btn-lg btn" href="{{ url_for('routes.logout') }}">Log out</a>
        </form>
    </div>

    <p></p>

    <div class="form-recipe">
        <form>
            <nav>
                <div>
                    {% if list_recipes %}
                    <h3>Recipes</h3>
                    <div class="vertical-menu">
                        <ul>
                            {% for dish in list_recipes %}
                            <li>
                                <a href="{{ url_for('routes.profile') }}">{{ dish.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <h1>Recipes not found...</h1>
                    {% endif %}
                </div>
            </nav>

            <div>
                <a class="w-100 btn btn-lg btn-primary" href="{{ url_for('routes.new_recipe') }}">Add recipe</a>
            </div>
        <form>
    </div>
{% endblock %}
