{% extends "base.html" %}

{% block content %}
    <div class="form-recipe">
        <form>
            <nav>
                <div>
                    <h3>Recipe</h3>

                    <label class="form-control">Category:<br>{{ recipe.category }}</label>
                    <textarea class="form-control">Ingredients: {{ recipe.ingredients }}</textarea>
                    <textarea class="form-control">Steps: {{ recipe.steps }}</textarea>
                    <label class="form-control">Time:<br>{{ recipe.time }}</label>

                    <a class="w-100 btn btn-lg btn-primary" href="{{ url_for('routes.profile') }}">Save change</a>
                    <a class="w-100 btn btn-lg btn-primary" href="{{ url_for('routes.profile') }}">Delete recipe</a>
                    <a class="w-100 btn btn-lg btn-primary" href="{{ url_for('routes.profile') }}">Back</a>
                </div>
            </nav>
        </form>
    </div>
{% endblock %}