{% extends "base.html" %}

{% block content %}
    <div class="form-recipe">
        <form method="POST" action="{{ url_for('routes.recipe') }}">
            <nav>
                <div>
                    <h1>{{ recipe.title }}</h1>
                    <h5>Category</h5>
                    <label class="form-control" style="text-align: center;">{{ recipe.category }}</label>
                    <h5>Ingredients</h5>
                    <textarea class="form-control" style="text-align: center;">{{ recipe.ingredients }}</textarea>
                    <h5>Steps</h5>
                    <textarea class="form-control" style="text-align: center;">{{ recipe.steps }}</textarea>
                    <h5>Time</h5>
                    <label class="form-control" style="text-align: center;">{{ recipe.time }}</label>

                <div style="margin-top: 20px;">
                    <a class="w-100 btn btn-lg btn-primary" style="text-shadow: 1px 1px 2px purple;"
                       href="{{ url_for('routes.profile', delete='delete', recipe=recipe.id)}}">Delete recipe</a>
                    <a class="w-100 btn btn-lg btn-primary" style="text-shadow: 1px 1px 2px purple;" href="{{ url_for('routes.profile') }}">Back</a>
                </div>
                </div>
            </nav>
        </form>
    </div>
{% endblock %}